// --- TRANSITIONS ---

$transition-time1: .2s;
$transition-time2: .35s;
$transition-time3: .5s;
$transition-time4: 1.2s;
$transition-time5: 2.4s;

$transition1: all $transition-time1;
$transition2: all $transition-time2;
$transition3: all $transition-time3;
$transition4: all $transition-time4;
$transition5: all $transition-time5;

$transition-mouse-event-time: $transition-time1;

$transition-button: all $transition-time1;
$transition-mouse-event: all $transition-mouse-event-time;

// --- BORDER RADIUS ---
$radius-primary: 4px;

// --- FONTS ---

$weight-light: 300;
$weight-regular: 400;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;

$size-text:2em;
$size-secondary-text:1.5em;
$size-h1:5em;
$size-h2:3.5em;
$size-h3:2.5em;

// --- COLORS ---

$color-primary: #f6931e;
$color-primary-x: #f37920;
$color-primary-dark: #ef5a22;

$color-secondary-dark: #4d8dff;
$color-secondary: #4a9ffb;

$color-success-light: #6ae6ad;
$color-success: #2bcd71;
$color-warning: #ffcb21;
$color-error: #fe4c58;

$color-dark-1: #616366;
$color-dark-2: #28282d;
$color-dark-3: #0c0c14;

$color-grey-1: #fbfbfb;
$color-grey-2: #f9f9f9;
$color-grey-3: #f5f5f5;
$color-grey-4: #e8e8e8;
$color-grey-5: #e0e0e0;
$color-grey-6: #c5c7d0;

$color-white: #fff;
$color-black: #000;

$color-blue-grey-1: #fafaff;
$color-blue-grey-2: #f8f8ff;
$color-blue-grey-3: #f0f5ff;
$color-blue-grey-4: #b1b5c9;
$color-blue-grey-5: #7e808f;

// --- SHADOWS ---
$shadow-popup: 0 0 16px 0 rgba($color-dark-3, 0.15);
$shadow-panel: 0 0 32px 0 rgba($color-dark-3, 0.15);
$shadow-icon: 0px 0px 8px rgba($color-dark-3, 1);

// --- BREAKPOINTS ---

$grid-breakpoints: (
	xs: 0,
	s: 576px,
	m: 768px,
	l: 992px,
	xl: 1380px
);

$breakpoint-xs: 0;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1380px;
$breakpoint-infinity: 999999px;
$breakpoints: (
		(xs, $breakpoint-xs, $breakpoint-s - 1),
		(s, $breakpoint-s, $breakpoint-m - 1),
		(m, $breakpoint-m, $breakpoint-l - 1),
		(l, $breakpoint-l, $breakpoint-xl - 1),
		(xl, $breakpoint-xl, $breakpoint-infinity)
);

// --- Z-INDEX ---

$z-basic: 100;
$z-top-bar: 500;
$z-popup: 1000;
$z-on-popup: 1010;
$z-tooltip: 2000;
$z-mobile-menu: 3000;
$z-tour-overlay: 5000;
$z-flash-message: 10000;

// --- PADINGS ---

$padding-xl: 40px;
$padding-l: 32px;
$padding-m: 28px;
$padding-s: 16px;