#header {
  height: calc(var(--vh,1vh) * 100);
  position: relative;
  transition: background 0.5s ease;
  background-color: $color-primary;
}
.header__logo {
  position: absolute;
  right: 10%;
  bottom: 8%;
  text-align: right;
  color: white;
}
.header__jump {
  position: absolute;
  bottom: 2%;
  left: 48%;
  animation: slide 1s ease-in-out infinite;
  color: white;
  @include hover {
    color: $color-primary-dark;
    text-shadow: 0 0 20px $color-white;
  }
}
@keyframes slide {
  0%,
  100% {
    transform: translate(0, -5px);
  }

  50% {
    transform: translate(0, 5px);
  }
}